$color-primary: #087f5b;
$color-primary-hover: #099268;
$color-primary-text-light: #e6fcf5;
$color-primary-text-dark: #c3fae8;

$color-gray: #343a40;
$color-gray-light: #495057;

$color-accent: #f8f9fa;

$color-shadow: #000
