@import "../abstracts/variables";
@import "../abstracts/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  @include respond-to("desktop") {
    font-size: 56.25%; /* 1rem = 9px */
  }

  @include respond-to("tablet-port") {
    font-size: 50%; /* 1rem = 8px */
  }

  @include respond-to("mobile") {
    font-size: 43.75%; /* 1rem = 7px */
  }
}

body {
  border-bottom: 0.8rem solid $color-primary;

  @include respond-to("desktop") {
    display: flex;
    justify-items: center;
  }
}

.container {
  max-width: 96rem;
  width: 90%;
  margin: 0 auto;
}

p {
  font-size: 1.6rem;
}

h2 {
  margin-bottom: 4.8rem;
  font-size: 3.6rem;
  letter-spacing: -0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;

  @include respond-to("tablet-land") {
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
  }

  @include respond-to("mobile") {
    grid-template-columns: 1fr;
  }
}
