@import "../abstracts/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  border-bottom: 0.8rem solid $color-primary;
}

.container {
  max-width: 96rem;
  width: 90%;
  margin: 0 auto;
}

p {
  font-size: 1.6rem;
}

h2 {
  margin-bottom: 4.8rem;
  font-size: 3.6rem;
  letter-spacing: -0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
}