@import "../abstracts/variables";

.features-icon {
  stroke: $color-primary;
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 2.4rem;
}

.features-title {
  margin-bottom: 1.6rem;
  font-size: 2rem;
}

.features-text {
  font-size: 1.8rem;
  line-height: 1.7;
}