@import "../abstracts/variables";
@import "../abstracts/mixins";

.testimonial-section {
  background-color: $color-primary;
  color: $color-accent;
  padding: 2.4rem;
  border-radius: 1rem;

  .grid-3-cols {
    @include respond-to("tablet-port") {
      grid-template-columns: 1fr;
      gap: 4.8rem;
    }
  }
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;

  @include respond-to("tablet-port") {
    grid-column: unset;
  }
}

.testimonial-box h2 {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  line-height: 1.7;
  color: $color-primary-text-light;
}

.testimonial-author {
  color: $color-primary-text-dark;
}
